FirstClient/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61356/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MSG">
    <xs:sequence>
      <xs:element minOccurs="0" name="appVersion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operationVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statutOp" type="xs:boolean" />
      <xs:element minOccurs="0" name="tokenApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSG" nillable="true" type="tns:MSG" />
</xs:schema>